.m-hot-topic .m-hot-topic-sel {
  width: 100%;
  text-align: center;
  font-size: 12px; }
  .m-hot-topic .m-hot-topic-sel span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 1.45rem;
    line-height: 0.72rem;
    font-size: 0.32rem;
    color: #999; }
  .m-hot-topic .m-hot-topic-sel .active {
    color: #333;
    border-bottom: 3px solid #333; }

.bigbox .item {
  height: 1.4rem;
  margin-bottom: 0.2rem; }
  .bigbox .item .border {
    height: 1.4rem;
    width: 6.2rem; }
  .bigbox .item .item-img {
    width: 1.2rem;
    float: left; }
    .bigbox .item .item-img img {
      width: 1.2rem;
      height: 1.2rem; }
  .bigbox .item .item-right {
    width: 4.6rem;
    float: right; }
    .bigbox .item .item-right .txt-tit {
      font-size: 0.3rem;
      color: #333;
      line-height: 0.5rem; }
    .bigbox .item .item-right .txt-intro {
      font-size: 0.24rem;
      color: #888;
      line-height: 0.44rem; }

.m-more {
  text-align: center;
  font-size: 0.24rem;
  color: #a1a1a1;
  line-height: 0.86rem; }
  .m-more i {
    font-size: 0.2rem;
    margin: 0 0.1rem; }

.swiper-pagination {
  margin: 0;
  padding: 0;
  bottom: 0 !important;
  width: 100%;
  text-align: center; }
  .swiper-pagination span {
    margin: 0 0.12rem; }

.swiper-container1 {
  width: 100%;
  overflow: hidden;
  height: auto;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide {
  padding-bottom: 0.3rem; }
  .swiper-slide .swiper-slide-box {
    width: 3.32rem;
    height: 3.4rem;
    box-shadow: 0.01rem 0.01rem 0.05rem 0.01rem #ccc;
    -webkit-box-shadow: 0.01rem 0.01rem 0.05rem 0.01rem #ccc;
    -moz-box-shadow: 0.01rem 0.01rem 0.05rem 0.01rem #ccc;
    -ms-box-shadow: 0.01rem 0.01rem 0.05rem 0.01rem #ccc;
    -o-box-shadow: 0.01rem 0.01rem 0.05rem 0.01rem #ccc;
    margin: 0 auto; }
  .swiper-slide .experts-img {
    width: 3.32rem;
    height: 2.07rem;
    margin-bottom: 0.2rem;
    position: relative;
    margin: 0 auto; }
    .swiper-slide .experts-img img {
      width: 3.32rem;
      height: 2.07rem;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 0.1rem;
      -webkit-box-sizing: 0.1rem;
      -moz-border-radius: 0.1rem;
      -o-box-sizing: 0.1rem;
      -ms-border-radius: 0.1rem; }
    .swiper-slide .experts-img .expert-tit {
      position: absolute;
      width: 2.3rem;
      font-size: 0.28rem;
      color: #fff;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      left: 0.5rem;
      top: 0.5rem;
      line-height: 0.48rem; }
    .swiper-slide .experts-img .author-img {
      width: 0.75rem;
      height: 0.75rem;
      position: absolute;
      right: 0.26rem;
      bottom: -0.35rem; }
      .swiper-slide .experts-img .author-img img {
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 100%;
        -webkit-box-sizing: 100%;
        -moz-border-radius: 100%;
        -o-box-sizing: 100%;
        -ms-border-radius: 100%; }
  .swiper-slide .article-info {
    margin: 0 auto; }
    .swiper-slide .article-info .author {
      font-size: 0.24rem;
      color: #333;
      margin-left: 0.3rem;
      line-height: 0.5rem; }
    .swiper-slide .article-info .article-hot {
      margin-left: 0.3rem;
      font-size: 0.22rem;
      color: #666; }
      .swiper-slide .article-info .article-hot i {
        color: #333;
        line-height: 0.5rem; }

.problem-item .problem-ask .problem-left {
  float: left; }
  .problem-item .problem-ask .problem-left i {
    font-size: 0.32rem;
    color: #00c6ff;
    margin-right: 0.2rem;
    line-height: 0.36rem; }
.problem-item .problem-ask p {
  width: 6rem;
  font-size: 0.3rem;
  color: #333;
  line-height: 0.36rem;
  margin-bottom: 0.25rem;
  float: left; }
.problem-item .problem-answer .problem-left {
  float: left; }
  .problem-item .problem-answer .problem-left i {
    font-size: 0.32rem;
    color: #03de36;
    margin-right: 0.2rem;
    line-height: 0.36rem; }
.problem-item .problem-answer p {
  width: 6rem;
  font-size: 0.24rem;
  color: #666;
  line-height: 0.36rem;
  margin-bottom: 0.25rem;
  float: left; }
